@import '../base/variables';
@import '../base/typography';


.contact {
  &-form {
    background-color: $color-primary;
    font-family: $font-family-primary;
    padding: 5%;
    text-align: justify;
    color: $color-black;
    font-size: 1.1rem;

    &__input:focus {
      border-color: $color-secondary;
    }
  }

  &__title {
    font-family: $font-family-primary;
    font-size: $font-size-title;
    padding-bottom: 3%;
    font-weight: bold;
  }

  &__text {
    font-size: $font-size-text;
    font-family: $font-family-primary;
    color: $color-black;
    margin-bottom: 20px !important;
    padding-right: 20px;
    text-align: justify;
  }
}


.form {
  padding: 50px 70px;
  border-radius: 10px;
  background-color: $color-secondary;
  text-align: center;
  border: 1.5px solid $color-primary;
  color: $color-white;

  &__label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  &__input,
  &__subject {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px !important;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
    margin: 0 auto;

    &:focus-visible {
      outline-color: $color-primary;
    }
  }
  

  &-button {
    background-color: #06c27d;
    color: $color-white !important;
    border: 1px solid #00000032;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 20%;
    height: 50px !important;
    margin-top: 20px;
    
    &:hover {
      background-color: #029d3b;
    }
  }
}

@media (max-width: 768px) {
  .contact {
    &__title {
      font-size: 2rem;
    }

    &__text {
      font-size: 1rem;
    }
  }

  .form {
    width: 100%;
    padding: 50px 20px;
    margin-bottom: 10px;
  }
  
  .form button {
    width: 50%;
  }
}